html {
  min-height: 100vh;
  background-color: #dff9fb;
}

body {
  background-color: initial;
}

.text-link {
  color: #6a89cc !important;
  cursor: pointer;
  font-weight: bold;
}

.btn.btn-primary {
  background-color: #6a89cc !important;
  border: none;
}

.badge {
  color: white;
}

.bg-grassland {
  background-color: #78e08f;
  color: #fff;
}

.fill-grassland {
  fill: #78e08f;
}

.bg-humus {
  background-color: #10ac84;
  color: #fff;
}

.bg-plain {
  background-color: #fad390;
  color: #fff;
}

.bg-swamp {
  background-color: #60a3bc;
  color: #fff;
}

.bg-unreavealed {
  background-color: #f8f9fa;
  color: #343a40;
}

.bg-kolos {
  background-color: #1dd1a1;
  color: #fff;
}