html {
  min-height: 100vh;
  background-color: #dff9fb;
}

body {
  background-color: initial;
}

.text-link {
  color: #6a89cc !important;
  cursor: pointer;
  font-weight: bold;
}

.btn.btn-primary {
  background-color: #6a89cc !important;
  border: none;
}

.badge {
  color: white;
}

.bg-grassland {
  background-color: #78e08f;
}

.fill-grassland {
  fill: #78e08f;
}

.bg-humus {
  background-color: #10ac84;
}

.bg-plain {
  background-color: #fad390;
}

.bg-swamp {
  background-color: #60a3bc;
}

.bg-unreavealed {
  background-color: #f8f9fa;
  color: grey;
}

.bg-kolos {
  background-color: #32ff7e;
}